<div class="card" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{postObj.title}}</h5>
        <br />
        <p>{{postObj.user.username}}</p>
      </div>
      <div class="modal-body">
        <p>{{postObj.description}}</p>
      </div>
      {{#each commentObj as |cobj|}}
        <div class="alert alert-success" role="alert">
          <h6 class="alert-heading">{{cobj.user.username}}</h6>
          <p>{{cobj.content}}</p>
          <hr />
        </div>
      {{/each}}

        <textarea id="commentHere"></textarea>
        <button id="addComment">Comment</button>
    </div>
  </div>
</div>